<div class="btn-group">
    {% if active != 'view' %}<a href="/"><button type="button" class="btn btn-default">View</button></a>{% endif %}
    {% if active != 'create' %}<a href="/pony/create"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</button></a>{% endif %}
</div>